*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root{
    --primari-color: #ff6600;
    --font-color: #c2d0da
}



/*  */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(6 3 0 / 70%);
}
.close{
    border: 1px solid transparent;
    background-color: var(--primari-color);
    z-index: 100;
    padding: 5px 5px;
    border-radius: 2px;
    color: white;
    z-index: 999;
}
.overlay .overlay-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    background: var(--primary-color);
    color: #fff;
    border-radius: var(--border-radius);
}
.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}
.overlay ul li {
    display: block;
    line-height: 3em;
}
.overlay ul li a {
    font-size: 20px;
    font-weight: 600;
    display: block;
    color: #fff;
    transition: color 0.2s;
}

#banner{
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(./../images/banner1.jpg);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.banner__container{
    width: 80%;
    margin: auto;
}


.banner__header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 40px;
}
.banner__logo h1 a{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}
.banner__content{
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
}
.search__item{
    position: relative;
}
.search__item input {
    height: 45px;
    width: 250px;
    background-color: #232220;
    color: #6d6c6d;
    padding: 8px 8px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.search__item i{
    position: absolute;
    top: 0;
    right: 0;
    color: #6d6c6d;
    transform: translateY(90%) translateX(-50%);
}

.search__bar{
    display: flex;
    align-items: center;
}

.dark__light{
    padding-left: 20px;
}
.dark__light i{
    color: white;
}

.navbar-header i{
    color: white;
    font-size: 2rem;
}

.banner__info{
    color: white;
    max-width: 600px;
    text-align: left;
    margin-top: 100px;
    line-height: 40px;
}
.banner__info h1{
    font-size: 44px;
    line-height: 56px;
    text-transform: capitalize;
    font-weight: 500;

}
.banner__info p {
    font-size: 1rem;
    margin-top: 10px;
}
.btn{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
    border-radius: 5px;
    margin-top: 50px;
}
/* About us */
.about__us{
    background-color: #232220;
    color: white;
}
.about__container{
    width: 100%;
    margin: auto;
}
.about__content{
    display: flex;

}
.about__title h4{
    color: var(--primari-color);
    font-style: italic;
    font: 'Pacifico', cursive;
    font-weight: 600;
}
.about__title h3{
    font-size: 2.3rem;
    line-height: 40px;
    font-weight: 600;
}

.about__body p{
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
}

/* book */
.book{
    color: var(--primari-color);
}
.bool__left{
    width: 100%;
    height: 50vh;
    position: relative;
}
.book__container{
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--primari-color);
}

.book__left__img::before{
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
.book__left__img{
    background-image: url(./../images/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 200px;
    position: relative;
    z-index: 1;
}
.book__right{
    color: white;
}
.bestmeal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.title-subhny{
    font-size: 1.5rem;
}
.title-w3l{
    font-size: 2.5rem;
}
.readmore{
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.616);
}
.icon:hover span{
    color: #e3b300;
}
.icon span{
    background-color: rgba(255, 255, 255, 0.944);
    color: var(--primari-color);
    width: 70px;
    height: 70px;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

.best{
    padding-top: 30px;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.lorem{
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.782);
}

/* categori */
.categori{
    background-color: #282828;
}
.categori__container{
    margin: auto;
}
.categori__content{
    width: 80%;
    margin: auto;
}
.categori__title{
    margin-top: 5rem;
    color: white;
    width: 100%;
    text-align: center;
}
.categori__title h4{
    color: var(--primari-color);
    font-style: italic;
}

.categori__menu {
    position: relative;
    opacity: 1;
    transition: all 0.4s;
}

.menu__info {
    opacity: 1;
    transition: all 0.4s;
}
.categori__menu .menu__info{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 0 10px;
    position: absolute;
    transform: translate3d(0, 10%, 0);
    /* background-color:rgba(16, 15, 19, 0.297) ; */
}
.menu__info a {
    text-decoration: none;
    cursor: pointer;
}
.menu__img a img {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.menu__info a h4{
    color: white;
}
.menu__info h5{
    color: #e3b300;
}
.menu__img a::after{
    content: "";
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* food */
.food{
    background-color: #232220;
}
.food__container{
    width: 100%;
    margin: auto;
    color: #c2d0da;
    padding: 5rem 5rem;
}
.food__item{
    padding: 10px 10px;
}
.item__container{
    padding: 20px 20px;
    border: 1px solid #c2d0da43;
    border-radius: 10px;
}
.item__content{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
}

.item__content:hover i{
    background-color: var(--primari-color);
    color: white;
    transition: all 0.8s;
}
.info:hover h4{
    color: var(--primari-color);
    cursor: pointer;
}
.icon i{
    color: var(--primari-color);
    font-size: 25px;
    line-height: 70px;
    width: 100px;
    background-color: #2828286d;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.spans{
    font-size: 1.3rem;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.564);
}

/* delicious */
.delicious{
    background-image: url(./../images/banner2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    z-index: 1;
}
.delicious::before{
    content: "";
    background: rgb(16 15 19 / 66%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
.delicious__container{
    width: 80%;
    margin: auto;
    text-align: center;
}
.delicious__content{
    margin: auto;
    text-align: center;
}
.delicious__title{
    font-size: 3rem;
    color: white;
    font-weight: 600;
}
.btn-style{
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border: 2px solid white;
    border-radius: 5px;
}
.delicious__button a:nth-child(1){
    color: white;
}
.delicious__button a:nth-child(1):hover {
    color: var(--primari-color);
    background-color: white;
}
.delicious__button a:nth-child(2){
    color: white;
    background-color: var(--primari-color);
    border: 1px solid transparent;
}
.delicious__button a:nth-child(2):hover{
    background-color: #ff6600c8;
}

/* counter */
@media screen and (max-width: 992px ){
    .counters{
        margin-top: 0;
    }
}


.counters {
    background-color: transparent;
    margin: auto;
    z-index: 10;
    margin-top: -70px;
    position: relative;
}
.counter__container{
    max-width: 1200px;
    margin: auto;
}
.counter__content{
    margin: auto;
}

.counter{
    background-color: #232220;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    padding: 40px 20px;
    border-radius: var(--border-radius);
    text-align: center;
    transition: .3s ease;
    transform: translateY(5px);
    border-radius: 5px;
}
.counter:hover{
    box-shadow: 0px 1px 1px 1px rgb(81, 80, 80);
    transform: translateY(-3px);
}
.counter span{
    background: var(--primari-color);
    font-size: 26px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
}
.counter div{
    font-size: 25px;
    font-weight: 600;
}


.counter__content {
    margin: auto;
    justify-content: space-between;
    text-align: center;
    color: white;
}